@keyframes moveLogo {
    from {width: 25px;}
    to {width: 475px;}
    from {opacity: 0;}
    to {opacity: 1;}
}

header img {
    width: 475 px;
    animation-name: moveLogo;
    animation-duration: 5s;
}

body {
    font-family: 'Poppins', serif;
    background: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav-item:visited {
    display: flex;
    flex-direction: column;
}

a:link, a:visited {
    color: #0000ff;
}

.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0 20px 0;
    border-radius: 50px 50px 0 0;
}

.card {
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

.pricing {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.gallery > img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width:900px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .nav_links {
        display: flex;
        flex-flow: row;
    }

    .card {
        width: 275px;
        flex-basis: 275px;
    }

    .pricing {
        justify-content: center;
        display: flex;
        flex-flow: row;
        align-items: center;
    }

   body > header {
        position: sticky;
        top: 0px;
    }
}

@media all and (prefers-reduced-motion: reduce) {
    header img {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    nav {
        width: 100%;
    }
    
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing {
        display: flex;
        align-items: flex-end;
        flex-direction: row nowrap;
    }

    .card {
        flex-basis: 325px;
        border: 2px solid #45ADDD;
    }

    .gallery, #gallery {
        display: none;
    }

    .card ul li:nth-child(2)::after {
        content: '👍';
    }
}
