/* Step 1 */
@keyframes moveLogo {
    from {width: 25px;}
    to {width: 475px;}
    from {opacity: 0;}
    to {opacity: 1;}
}

header img {
    width: 475 px;
    animation-name: moveLogo;
    animation-duration: 5s;
}

/* Step 2 */
body {
    font-family: 'Poppins', serif;
    background: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

/* Step 3 */
header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

/* Step 4 */
.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Step 5 */
nav-item:visited {
    display: flex;
    flex-direction: column;
}

a:link, a:visited {
    color: #0000ff;
}

/* Step 6 */
.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0 20px 0;
    border-radius: 50px 50px 0 0;
}

/* Step 7 */
.card {
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

/* Step 8 */
.pricing {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

/* Step 9 */
.gallery > img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

/* Step 10 */
.gallery {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* Specifications for when the screen-size is greater than 900px */
@media screen and (min-width:900px) {
    /* Step 11 */
    header {
        display: flex;
        flex-direction: row;
    }

    .nav_links {
        display: flex;
        flex-flow: row;
    }

    /* Step 12 */
    .card {
        width: 275px;
        flex-basis: 275px;
    }

    .pricing {
        justify-content: center;
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    
    /* Step 13 */
    body > header {
        position: sticky;
        top: 0px;
    }
}

/* Specifications for when the user prefers reduced motion */
@media all and (prefers-reduced-motion: reduce) {
    /* Step 14 */
    header img {
        animation: none;
    }
}

/* Specifications for when the page is printed in portrait mode */
@media print {
    /* Steps 15 & 16 */
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* Step 17 */
    nav {
        width: 100%;
    }
    
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* Step 18 */
    .pricing {
        display: flex;
        align-items: flex-end;
        flex-direction: row nowrap;
    }

    /* Step 19 */
    .card {
        flex-basis: 325px;
        border: 2px solid #45ADDD;
    }
    
    /* Step 20 */
    .gallery, #gallery {
        display: none;
    }

    /* Step 21 */
    .card ul li:nth-child(2)::after {
        content: '👍';
    }
}
